h1,
p {
  text-align: center;
}

.jumbotron {
  background-color: #239abb;
  margin-bottom: 0;
  height: 200px;
  padding-top: 1em;
}
.navbar {
  justify-content: center;
  border-bottom: 1px solid #d4d3d5;
}
.container {
  margin-top: 2em;
}
.container .row .col-sm p {
  text-align: left;
}
.btn {
  width: 10em;
  margin: 2em;
  line-height: 2.5;
}
.buttons {
  display: flex;
  justify-content: center;
}
.violet {
  background-color: #8100ff;
}
.card-footer {
  text-align: center;
  background-color: #239abb;
  margin-top: 2em;
}
